<% if locals.keys.include?(:exception) %>
  erb :_errors, locals: {exception: exception}
<% end %>

<table>
  <tr>
    <th>Carrier</th>
    <th>Service</th>
    <th>Est. Delivery Days</th>
    <th>Rate</th>
    <th>Select Rate</th>
  </tr>
  <% shipment.rates.each do |rate| %>
    <tr>
      <td><%= rate.carrier %></td>
      <td><%= rate.service %></td>
      <td><%= rate.est_delivery_days %></td>
      <td><%= rate.rate %> <%= rate.currency %></td>
      <td>
        <form action = "/shipment/<%= rate.shipment_id %>/buy" method = "post">
          <button type="submit" name="rate" value="<%=rate.id%>" class="btn btn-primary">Buy</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
